#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow-y: scroll;
}
.btn {
  text-align:center;
  background-color:white;
  color:black;
}

.pwr-btn {
  filter: drop-shadow(0 0 5px rgba(34, 153, 30, 0.735));
}
.float-btn {
  position:fixed;
  width: 50vw;
  left: 25vw;
	text-align:center;
  background-color:white;
  color:black;
}
#header {
  box-shadow: 3px 3px 3px #999
}

.synthBank {
  padding:5px;
  background-color:rgba(196, 196, 196, 0.333);
}

.synthRack {
  padding: 5px;
  background-color:#eee5;
}

.synthBlock{
  padding: 5px;
  background-color:  rgb(39, 40, 47);
}
.effectsRack {
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(149, 157, 164);
  border-radius: 5px;
}

.visualizer {
  color: black;
  background-color: gainsboro;
  border: 1px solid black;
}

.effect {
  height: inherit;
  display: flex;
  flex-direction: row;
  width: auto;
}